//
// Variables
// ==========================================================================


// Primary Colors
// ==========================================================================
$white:					#ffffff;
$black:					#000000;

$green:					#28EB77;
$greenDark:				#1FAA64;
$slate:					#41434D;
$slateDark:				#141519;
$blue:					#27B5E1;
$blueDark:				#0089E5;